svg {
	position: absolute;
	margin: 0;X
}

g, line {
}

svg text {
	background-color: white;
}

textarea {
	margin: 0;
}

#queryPane {
	position: inherit;
	height: 100%;
	width: 100%;
}

path.link {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	cursor: default;
}

circle {
	stroke-width: 2px;
}

.selected circle {
	stroke-width: 2px;
}

#contextMenu {
  position: absolute;
  display: none;
  background: #fff;
  border-radius: 5px;
  border: solid 1px gray;
  padding: 10px;
  text-align: left;
  font-size: smaller;
  z-index: 9990;
}